# Игнорировать файлы конфигурации среды
.env
*.json
.model/
*.wav
*.session
# Игнорировать директории с виртуальной средой
venv/
.venv/

# Игнорировать кэшированные файлы Python
*__pycache__/
__pycache__/
*.py[cod]

# Игнорировать лог-файлы
*.log

# Игнорировать файлы базы данных
*.sqlite3
*.db

# Игнорировать выходные файлы компиляции
*.out
*.o
*.a
*.so

# Игнорировать файлы IDE и редакторов
.idea/
.vscode/
.sublime-project
.sublime-workspace

# Игнорировать файлы, созданные ОС
.DS_Store
Thumbs.db
