beautifulsoup4==4.12.3
fuzzywuzzy==0.18.0
librosa==0.10.2.post1
numpy==1.26.4
pyperclip==1.8.2
Requests==2.32.3
ruaccent==1.5.6.5
RUTTS==0.1.13
RUTTS==0.1.13
scipy==1.13.1
sounddevice==0.4.7
SpeechRecognition==3.10.4
torch==2.3.0
urllib3==2.2.1
PyAudio==0.2.14
python-Levenshtein==0.25.1